@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;

}

.main {
    height: 100%;

    background-image: url(/Images/cosmic-gif.gif);
    background-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;


}

h1 {
    padding: 50px;

}

.button-div {

    height: 100%;
    width: 100%;
    display: flex;

}

button {
    box-shadow: none;
    background: transparent;
    transform-style: preserve-3d;
    padding: 0;
    height: auto;
    margin: auto;

    border: none;



}

button span {
    font-family: 'Press Start 2P', cursive;
    background: url(/Images/pexels-alexander-ant-7004739.jpg);
    background-size: 100%;
    font-size: 3rem;
    color: white;
    padding: 7rem 2rem;
    margin: auto;

    line-height: 3rem;
    will-change: transform, filter;
    float: none;
    margin: 0;
    transition: all 0.15s ease-out;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    display: block;
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
    font-weight: 600;
    perspective-origin: 0 0;
    letter-spacing: 0;

}