@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;

}

/* START SECTION */

#start-section {
    height: 100vh;

    background-image: url(./Images/cosmic-gif.gif);

    background-size: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.headings-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;


}

h1 {
    padding: 50px;

}

h2 {
    padding: 10px 50px;

}



.button-div {

    height: 100%;
    width: 100%;
    display: flex;

}

button {
    box-shadow: none;
    background: transparent;
    transform-style: preserve-3d;
    padding: 0;
    height: auto;
    margin: auto;


    border: none;



}

button span {
    font-family: 'Press Start 2P', cursive;
    background: url(./Images/ButtonBackground.jpg);
    background-size: 100%;
    font-size: 3rem;
    color: white;
    padding: 7rem 2rem;
    margin: auto;

    line-height: 3rem;
    will-change: transform, filter;
    float: none;
    margin: 0;
    transition: all 0.15s ease-out;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    display: block;
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
    font-weight: 600;
    perspective-origin: 0 0;
    letter-spacing: 0;

}




/* END SECTION */


.headings-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#end-section {


    height: 100vh;

    background-image: url(./Images/cosmic-gif.gif);
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    background-size: 100%;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;


}

.gameplay-div {
    display: flex;


    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.container-drawings-player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 60px;
}

.container-drawings-pc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 60px;

}

.drawing {
    padding: 40px;

    height: 8rem;
    width: 8rem;


    background-size: 100%;


}

#rock {
    /*  */
    background-image: url(./Images/gesture.png);
}

#paper {
    background-image: url(./Images/hold.png);
}

#scissors {

    background-image: url(./Images/scissors.png);
}

.score {
    background-color: rgb(15, 57, 208);
    border-radius: 20px;
    width: 30%;
    height: 30%;

    display: flex;



}

.player-score {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;






    flex: 1;


}

.pc-score {




    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: start;
    flex: 1;



}

p {
    font-size: 3rem;
    padding: 50px 0px;
}

/* WIN SECTION */
.win-section {
    height: 80vh;
    background: url(./Images/winner.gif);
    background-size: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}

.Winner {
    color: white;

}

.restart {
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    font-size: larger;

}